html,body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
}
header{
    background-color: burlywood;
    padding: 20px;
    text-align: center;
    display: block;
    margin-bottom: 40px;
}
.button{
    background-color: lightgoldenrodyellow;
    padding: 30px;
    margin: 20px;
    text-align: center;
    display: inline;
    width: 40%;
}
.introduce1{
    background-color: lightskyblue;
    text-align: center;
    margin: 50px;
    margin-bottom: 10px;
}
.greeting {
    font-size: 40px;
}
.name{
    font-size: 20px;
}
.nicknameandface{
    font-size: 20px;
}
.face{
    font-size: 20px;
}
.videointroduce{
    font-size: 20px;
}
.vid{
    width: 50%;
}
.talents{
    background-color: bisque;
    font-size: 30px;
    padding: 20px;
    margin: 20px;
}
.talentsdetails{
    background-color: cornsilk;
    font-size: 20px;
    margin: 50px;
}
.hobbies{
    background-color: lightpink;
    font-size: 30px;
    padding: 20px;
    margin: 20px;
}
.hobbiesdetails{
    background-color: lavenderblush;
    font-size: 20px;
    margin: 50px;
}
.channel{
    background-color: blanchedalmond;
    font-size: 20px;
    padding: 15px;
    margin: 15px;
}
footer {
    background-color: darkgrey;
    padding: 20px;
}